<!DOCTYPE html> 
<head>

<style>

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #fbfbfb;
	color: #67727A;
	font-family: 'Alegreya', Sans-serif;
	margin: 0;
}

#header-inner{
	background: #fbfbfb;
}

h2{
	font-size: 300%;
	font-weight: 900; 
	text-align: left;
	padding-top: 2%;
}
h3{
	font-size: 175%;
	line-height: 155%;
	padding:2% 0;
	font-weight: 400;
}
p {
	font-size: 100%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}

.one-third{
	width: 33.33333333%;
	float: left;
	text-align: center;
}

#create {
	background-color:#bdbbba;
}

#cherish {
	background-color: #bf9d85;
}

#commemorate{
	background-color: #a59f8c;
}

.partners{
	width: 33.33333333%;
	float: left;
	text-align: center;
}

#partner-one {
	background-color: #dff1f4;
	border-style: solid;
		border-width: 1px;
		border-color: #ffffff;
}

#partner-two{
	background-color: #dff1f4;
border-style: solid;
		border-width: 1px;
		border-color: #ffffff;
}

#partner-three{
	background-color: #dff1f4;
border-style: solid;
		border-width: 1px;
border-color: #ffffff;
}

/*--- Start Navigation--*/
nav {
	float: right;
	padding: 30px 20px 0 0;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;;
}
a:hover#menu-icon{
	border-radius: 4px 4px 0 0;
}

ul{
	list-style-type: none;
}

nav ul li{
	font-family: 'Alegreya Sans', Sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}
nav ul li a{
	color: #445c37;
	text-decoration: none;
}
nav ul li a:hover{
	color: #0f2d6d;
}
.current{
	color: #627485;
}

/*---Navigation end--*/

footer{
	background-color: #f6f6f6;
	width: 100%;
}

.more-info{
 	list-style-type: none;
	text-align: left;
 }
 .more-info li{
	 display: inline;
 }
 .more-info i{
 	font-size: 460%;
 	margin: 1%;
 	padding: 4%;
 	color: #C3D7DF;
 }

.more-info i:hover{
	color: #F5F5F5;
}

footer ul li{

	display: inline-block;
	float: left;
	padding: 10px;
}
footer ul li a{
	text-decoration: none;
}

footer.sub ul li{
	display: block;
}



/*--- Button --*/

#Facebook{
	background-color: #1535a5;
	color: white;
}

#Sign-up{
	background-color: #3a4244;
	color: #eee9e3;
}

/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }


</style>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>timeless</title>
	<link rel="stylesheet" type="text/css" href="style.css" />	
	<link href="css/font-awesome.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<header>
		<div id="header-inner">
			<nav>
			<a href="#" id="menu-icon"></a>
			<ul>
				<li><%= link_to "About", about_path %></li>
				<li><%= link_to "Sign in", login_path %></li>
				<li><%= link_to "Sign up", signup_path %></li>
			</ul>
			</nav>
			<section class="title" id="title">
				<td><i class="glyphicon glyphicon-hourglass"></i></td>
				<h2>Timeless</h2>
				<h3>Eternal memories cherised forever</h3>	
			</section>

				<div class="input-group">
            	<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            	<div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            	</div>
        		</div>


				<a href="https://www.facebook.com" target="_blank"><button onclick ="" id="Facebook">Connect with Facebook</button></a>
				<br>
				<button onclick="" id="Sign-up">Create Memorial</button>
				</div>
				
			</section>
		</div>
	</header>
	<!---End Header-->

		<section class="one-third" id="create">
			<h4>Create</h4>
			<td><i class="glyphicon glyphicon-user"></i></td>
			<p>insert long text here</p>
		</section>

		<section class="one-third" id="cherish">
			<h4>Cherish</h4>
			<td><i class="glyphicon glyphicon-heart-empty"></i></td>
			<p>insert long text here</p>
		</section>

		<section class="one-third" id="commemorate">
			<h4>Commemorate</h4>
			<td><i class="glyphicon glyphicon-grain"></i></td>
			<p>insert long text here</p>
		</section>

<!---End Three Column Section-->

		<section class="partners" id="partner-one">
			<img src="">
			<h5>Faith Bereavement</h5>
		</section>

		<section class="partners" id="partner-two">
			<img src="">
			<h5>Ang Yew Seng Funeral Palour</h5>
		</section>

		<section class="partners" id="partner-three">
			<img src="">
			<h5>Singapore Indian Casket Services</h5>
		</section>

<!---End Partners Section-->

            </div><!-- End Inner -->
	</aside>

	</section>

	<footer>

		<ul class="more-info">

			<li class="sub"><h4>About</h4>
			<ul>
			<li><a href="https://www.facebook.com" target="_blank">Using Timeless</a></li>
			<li><a href="https://www.facebook.com" target="_blank">Examples</a></li>
			</li>
			</ul>

			<ul>
			<li class="sub"><h4>Contact</h4>
			<li><a href="https://www.google.com" target="_blank">Partnerships</a></li>
			<li><a href="https://www.google.com" target="_blank">Contact Us</a></li>
			</li>
			</ul>

			<ul>
			<li class="sub"><h4>Support</h4>
			<li><a href="" target="_blank">FAQ</a></li>
			<li><a href="" target="_blank">Suite Service</a></li>
			</li>
			</ul>

			<li class="sub"><h4>Information</h4>
			<ul>
			<li><a href="https://www.youtube.com" target="_blank">Privacy & Security</a></li>
			<li><a href="https://www.youtube.com" target="_blank">Terms of Service</a></li>
			</li>
			</ul>

		</ul>
	</footer>
<!---End of footer section-->

</body>
</html>

		

