<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>

			<%= f.label:date_of_birth %>
			<%= f.date_select :date_of_birth, class: 'form-control' %>

			<div>
				<%= f.check_box :is_female, {}, true %> <%= f.label :is_female, "Female" %>
				<%= f.check_box :is_female, {}, false %> <%= f.label :is_female, "Male" %>
			</div>

			<%= f.label:themecolor, "Choose theme color" %>
			<%= f.color_field :themecolor, class: 'form-control' %>

			<%= f.label:bgcolor, "Choose background color"  %>
			<%= f.color_field :bgcolor, class: 'form-control' %>

			<%= f.label:innercolor, "Choose inner background color" %>
			<%= f.color_field :innercolor, class: 'form-control' %>

			<%= f.label:headtextcolor, "Choose header texts color" %>
			<%= f.color_field :headtextcolor, class: 'form-control' %>

			<%= f.label:textcolor, "Choose text color" %>
			<%= f.color_field :textcolor, class: 'form-control' %>

			<%= f.label:buttontext, "Choose button's text color" %>
			<%= f.color_field :buttontext, class: 'form-control' %>

			<%= f.label:buttonbg, "Choose button's fill color" %>
			<%= f.color_field :buttonbg, class: 'form-control' %>



			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>

			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>


			<%= f.submit "Save changes", class: "btn btn-primary" %>
		<% end %>

	</div>
</div>

