<html>
<head>
<body>
<style>

.personal-info {
  background-color: #e8ecf2;
}

h2 {
  font-weight: bold;
  color: #3d434c;
  font-size: 24px;
}

h4 {
  color: #53575e;
  font-size: 15px;
}

</style>

<div class="text-center profileimg">
          <img class="img-profile-square" style="background-color:white;display:inline-block;" src="https://memorialweb.s3.amazonaws.com/assets/listing/picture/17/e9f508f2-664c-48c1-a4e1-6f8f23d3a389_display.png" alt="E9f508f2 664c 48c1 a4e1 6f8f23d3a389 display" />
        
  </div>

  <div class="personal-info">
  <h2 class="margin-top-sm"><%= @user.name %></h2>

  <h4 class="text-center text-light"><%= @user.email %></h4>
  <h4 class="text-center text-light"><strong>Departed: </strong>Wednesday, 8th February 2017</h4>
   <h4 class="text-center text-light"><strong>Age: </strong>89</h4>
  <hr>
</div>



</body>
</head>
</html>